@use '../../../assets/styles/mixins.scss' as*;
@import '../../../assets/styles/variables';

.navigation{
    @include tekoBase;
    width: 100%;
    height: 56px;
    background-color: $color-white;
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 17px;
    padding-right: 23px;
}

.menu {
    width: 89px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    width: 40px;
    height: 34px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.hamburger{
    height: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background-color: $color-white;
}

.dash {
    width: 21px;
    height: 2px;
    background-color: $color-regular-black;
}

.hero {
    width: 100%;
    height: 261px;
    background-image: url('../../../assets/images/image34.jpg');
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.header-title {
    @include tekoMobileHero;
    text-transform: uppercase;
    margin-left: 24px;
}

.cta-button-mobile {
    width: 378px;
    height: 55px;
    border: 1px solid $color-regular-black;
    background-color: $color-regular-black;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 17px auto 0;
}