@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.desktop-container {
    width: 100%;
    height: 100px;
    background-color: $color-regular-black;
    color: $color-white;
    display: flex;
    justify-content: space-between;
    padding: 31px 16px 0;
}

.list {
  margin: 0 16px 0;
}

.list-item {
    @include tekoLarge;
    text-transform: uppercase;
    border-bottom: 1px solid $color-white;
    background-color: $color-regular-black;
    color: $color-white;
    display: flex;
    justify-content: flex-end;
    margin: 0 3.2rem 0;
}